body{
   margin: 0;
   font-size: 1vw;
}
header{
   background-color: rgb(70, 73, 74);
}
header h1{
   margin: 0;
}
section{
   display: flex;
}
main{
   background-color: rgb(151, 119, 181);
   height: 100px;
   flex-basis: 50%;
}
main h2{
   margin: 0;
}
nav{
   background-color: rgb(50, 50, 50);
   height: 100px;
   flex-basis: 50%;
}
nav h3{
   margin: 0;
}
footer{
   background-color: rgb(106, 45, 66);
   height: 100px;
}
footer h2{
   margin: 0;
}